<div class="fog" [style.width]="fogWidth()">
  <div class="cloud"></div>
  <div class="cloud"></div>
  <div class="cloud"></div>
  <div class="cloud"></div>
  <div class="cloud"></div>
</div>
<div id="gameContainer"
     [style.scale]="gameScale()"
     [style.width]="gameWidth"
     [class.flash]="flashError()"
></div>

@if (false) {
<div class="message wh100" [class.hidden]="playing()" style="z-index: 10; position: absolute; top: 0; left: 0;">
  <div class="message-text">Jump to play!</div>
</div>
}

<div id="offline-resources" class="hidden">
  <img id="offline-resources-1x" src="/sheep-100.png" alt="sheep-100">
  <img id="offline-resources-2x" src="/sheep-200.png" alt="sheep-100">
  <div class="icon-disable"></div>
  <div class="icon-offline"></div>

  <template id="audio-resources">
    <audio id="offline-sound-press" src="/sounds/button-press.mp3"></audio>
    <audio id="offline-sound-hit" src="/sounds/hit.mp3"></audio>
    <audio id="offline-sound-reached" src="/sounds/score-reached.mp3"></audio>
  </template>
</div>

