@if (iframeSrc) {
  <h1>Blah Blah Blah</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales neque ut lectus congue imperdiet. Suspendisse ac maximus est, nec bibendum ante. Maecenas sed sapien rutrum, rhoncus felis quis, placerat lacus. Quisque vitae vehicula tortor, et porta purus. Quisque pulvinar vitae metus nec laoreet. Integer sodales tempus euismod. Donec nec.</p>
  <iframe #iframe width="600" height="450"></iframe>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales neque ut lectus congue imperdiet. Suspendisse ac maximus est, nec bibendum ante. Maecenas sed sapien rutrum, rhoncus felis quis, placerat lacus. Quisque vitae vehicula tortor, et porta purus. Quisque pulvinar vitae metus nec laoreet. Integer sodales tempus euismod. Donec nec.</p>
} @else {
<div class="column align-center game">
  <app-game/>

  <div class="instructions" style="white-space: pre" [innerHTML]="instructions()"></div>
</div>

<div class="presets row w100">
  @for ($preset of config.presets; track $preset.name) {
    <button
      type="button"
      (click)="config.setPreset($preset)"
      [class.disabled]="playing()"
    >{{ $preset.name }}
    </button>
  }
</div>

<div class="controls">
  <div>
    Delay
  </div>
  <div>
    <app-slider
      [(value)]="config.latency"
      [maxValue]="config.config.maxActionLatency"
      [step]="100"
      [disabled]="playing()"
    />
  </div>
  <div>
    {{ config.latency() }}ms
  </div>
  @if (!config.config.fogDisabled) {
    <div>
      Visibility
    </div>
    <div>
      <app-slider [(value)]="reverseLookAhead" [maxValue]="config.maxLookAhead" [disabled]="playing()"/>
    </div>
    <div>
      {{ config.lookAhead() / config.maxLookAhead / 2 + 0.5 | percent: '.0' }}
    </div>
  }
  <div>
    Errors
  </div>
  <div>
    <app-slider [(value)]="config.errorRate" [maxValue]="100" [step]="10" [disabled]="playing()"/>
  </div>
  <div>
    {{ config.errorRate() }}%
  </div>
  @if (showSpeed) {
    <div>
      Speed
    </div>
    <div>
      <app-slider [(value)]="config.speed" [maxValue]="9" [disabled]="playing()"/>
    </div>
    <div>
      {{ config.speed() + 1 }}
    </div>
  }
</div>

<div
  class="message overlay row"
  [class.hidden]="appHasFocus()"
  tabindex="-1"
  (click)="$event.stopPropagation(); $event.preventDefault()">
  <div class="message-text">Click here to play!</div>
</div>
}
